<app-header></app-header>

<div class="container">
    <div>
        <h2 class="alert-primary mt-3">
            1. Excercise on MVP <span class="blink" style="float:right" routerLink="employee">-Employee</span>
        </h2>
        <h2 class="alert-primary mt-3">
            2. Excercise on Dynamic-Component,Directive and Pipe <span class="blink" style="float:right"  routerLink="customer">-Customer</span>
        </h2>
    </div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>