<div class="card m-3 ml-5 col-6 mb-5" style="align-content: center">
    <h5 class="card-header"><b>Add Employee</b></h5>
    <div class="card-body col-6 ml-5" style="height:450px;overflow-y: scroll;">
        <form class="mb-3 " [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

            <!-- firstName -->
            <div class="form-group">
                <label>First Name</label>
                <input type="text" placeholder="enter first name" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && employeeFormControls.firstName.errors }" />
                <div *ngIf="submitted && employeeFormControls.firstName.errors" class="invalid-feedback">
                    <div *ngIf="employeeFormControls.firstName.errors.required">firstName is required</div>
                    <div *ngIf="employeeFormControls.firstName.errors.maxlength">maximum 20 character</div>
                </div>
            </div>

            <!-- email -->
            <div class="form-group">
                <label>Email</label>
                <input type="text" placeholder="enter email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && employeeFormControls.email.errors }" />
                <div *ngIf="submitted && employeeFormControls.email.errors" class="invalid-feedback">
                    <div *ngIf="employeeFormControls.email.errors.required">email is required</div>
                </div>
            </div>

            <!-- mobile -->
            <div class="form-group">
                <label>Mobile</label>
                <input type="text" placeholder="enter mobile no" formControlName="mobile" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && employeeFormControls.mobile.errors }" appDigitonly />
                <div *ngIf="submitted && employeeFormControls.mobile.errors" class="invalid-feedback">
                    <div *ngIf="employeeFormControls.mobile.errors.required">mobile is required</div>
                    <div *ngIf="employeeFormControls.mobile.errors.maxlength">mobile no. not greater then 10 digit</div>
                </div>
            </div>

            <!-- address -->
            <!-- <div formArrayName="address">
                <div *ngFor="let item of addresses.controls; let indexVal=index" [formGroupName]="indexVal">
                    <label>
                        Address: <input formControlName="myAddress" />
                    </label>
                    <button class="btn-large btn-danger" *ngIf="indexVal" type="button"
                        (click)="deleteAddress(indexVal)"><i class="fa fa-trash"></i></button>
                </div>
                <button class="btn-large btn-success" type="button" (click)="addAddress()">Add</button>
            </div> -->

            <!-- 3 -->
            <button class="btn btn-success" (click)="addNewAddress()">Add</button><br>
            <div class="form-group" formArrayName="address" *ngFor="let add of employeeForm.get('address').controls ; let i = index;">
                <div class="row" [formGroupName]="i+1">
                    <label>City</label>
                    <input type="text" formControlName="city" placeholder="city" size="30" class="form-control col-12">
                    <label>State</label>
                    <input type="text" formControlName="state" placeholder="state" size="30" class="form-control col-12">
                    <label>Pin</label>
                    <input type="text" formControlName="pinCode" placeholder="pin code" size="30" class="form-control col-12">
                </div>
                <button class="btn-large btn-danger" (click)="removeAddress(i)"><i class="fa fa-trash"></i></button>
            </div>

            <!-- gender -->
            <label for="lastname">Gender:</label><br>
            Male:<input type="radio" value="male" formControlName="gender">
            Female:<input type="radio" value="female" formControlName="gender">
            Other:<input type="radio" value="other" formControlName="gender"><br><br>
            <div *ngIf="submitted && employeeFormControls.gender.errors?.required">
                <p style="color: red;font-size: 13px">Please select either value</p>
            </div>

            <!-- depeartment -->
            <div class="form-row">
                <div class="form-group col">
                    <label>Department</label>
                    <select formControlName="deptName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && employeeFormControls.deptName.errors }">
                        <option value="">-- select dept --</option>
                        <option *ngFor="let dept of department" value="{{dept}}">{{dept}} </option>
                    </select>
                    <div *ngIf="submitted && employeeFormControls.deptName.errors" class="invalid-feedback">
                        <div *ngIf="employeeFormControls.deptName.errors.required">Department is required</div>
                    </div>
                </div>
            </div>

            <!-- hiredate -->
            <div class="form-group">
                <label>HireDate</label>
                <input type="date" placeholder="hiredate" formControlName="hireDate" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && employeeFormControls.hireDate.errors }" />
                <div *ngIf="submitted && employeeFormControls.hireDate.errors" class="invalid-feedback">
                    <div *ngIf="employeeFormControls.hireDate.errors?.required">hireDate is required</div>
                </div>
            </div>

            <!-- permenent -->
            <div class="form-group">
                <input type="checkbox" formControlName="permenent" value="Yes"> Permenent<br>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1">SUBMIT</button>
                <button class="btn btn-secondary" type="reset">Cancel</button>
            </div>
        </form>
    </div>
</div>